@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css">

<body>


    <div id="container">
        <h1 class="display-4">Quote Calendar</h1>
        <p>Created by Daniel Aguirre.<br /></p>
        <a id="link-centered-bordered" href=/Quote/Index>See Quotes From This Week</a>
        <a id="link-centered-bordered" href=/Quote/ViewTodaysQuote>See Today's Quote</a>
        <a id="link-centered-bordered" href=/Quote/DeleteTodaysQuote>Delete Today's Quote</a>
    </div>

</body>